# Numpy assignment

## 1. Import numpy

## 2. Create an array of 10 zeroes

## 3. Create an array of 10 ones

## 4. Create an array of 10 fives

## 5. Create an array of integers from 11 to 50

## 6. Create an array of all the even integers from 11 to 50

## 7. Create a 3 * 3 matrices of values from range 0 to 8

## Use numpy to gentrate a number randomly between 0 and 1

## Create the following matrices

### 20 linrarly spaced points between 0 and 2

## Numpy indexing and selection

In [3]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

Use the above matrices for the following set of questions

### 1. only first value of matrice mat

### 2. middle value of matrice mat

### 3. first two rows and last one column values of matrice mat

### 4. last row and all column values of matrice mat